<div id="page">
  <div id='game-interface'>
    <div id='main-screen-container'>
      <div id='main-screen'>
        Welcome to Cobalt Halls
      </div>
    </div>
    <form id='command-box'>
      <input />
      <button>SEND</button>
    </form>
  </div>
  <div id="status-bar">
    <div id='account-status'>
      <h4>Account</h4>
      <p id='account-status-text'></p>
    </div>
    <div id="character-status">
      <h4>Character</h4>
      <p id='character-status-text'></p>
    </div>
  </div>
</div>
