<div id="page">
  <div id='game-interface'>
    <div id='main-screen'>
      Welcome to Cobalt Halls
    </div>
    <form id='command-box'>
      <input />
      <button>SEND</button>
    </div>
  </div>
</div>
